# BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
# AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterStruct: true
    BeforeCatch: true
    BeforeElse: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
